
<mat-card *ngIf="wine">
    <!-- <mat-toolbar>Basic</mat-toolbar> -->
    <mat-card-title> {{ isNewWine ? "Create Wine" : "Edit Wine" }}</mat-card-title>
<form (ngSubmit)="onSubmit()" #wineForm="ngForm">
    <mat-card-content>
            <table style="width: 100%" cellspacing="0">
                <tr><input matInput [(ngModel)]="wine.name" required name="name" placeholder="Name"></tr>
                <tr><textarea mat-input [(ngModel)]="wine.description" name="description" placeholder="Description"></textarea></tr>
                <tr><mat-checkbox [(ngModel)]="wine.red" name="red">Red?</mat-checkbox></tr>
                <tr><mat-checkbox [(ngModel)]="wine.available" name="available">Available?</mat-checkbox></tr>
            </table>
    </mat-card-content>
    <mat-card-actions>
        <button type="submit" mat-raised-button [disabled]="!wineForm.form.valid">
            Save
        </button>
        <button mat-raised-button (click)="onCancel()" color=warn>
            Cancel
        </button>
    </mat-card-actions>
</form>
</mat-card>
