<md-toolbar [color]="primary" class="header">
    <span>{{title}}</span>
    <span style="flex: 1 1 auto;"></span>
    <md-icon>search</md-icon>
    <md-input [(ngModel)]="query" placeholder='Search'></md-input>
    <span style="flex: 1 1 auto;"></span>
    <p>{{username}}</p>
    <a md-button href="/oauth2/logout">Logout</a>
    <!-- <button md-button (click)="logoutClicked()">Logout</button> -->
</md-toolbar>

<div class="content-container">
    <app-wine-list [query]="query"></app-wine-list>
    <router-outlet></router-outlet>
</div>

<md-toolbar [color]="warm" class="footer">
    <div id="left-spacer"></div>
    <p>This wine list will be available to google home devices that have the "wine master" app installed/enabled and that are signed into the 'justbuchanan@gmail.com' account.</p>
    <span style="flex: 1 1 auto;"></span>
    <a md-button md-fab id="add-button" routerLink="/create"><md-icon>add</md-icon></a>
</md-toolbar>
