md-toolbar {
    background: #722f37;
    color: white;
}

md-toolbar.footer p {
    font-size: 12pt;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

a[md-button] {
    background: #DECB90;
    color: #722f37;
}

#left-spacer {
    display: block;
    width: 56px; /* width of fab button */
}

md-toolbar.header p {
    font-size: 10pt;
}

.flex-container {
  display: flex;
  height: 100%;
  justify-content: center;
}

.flex-item {
  box-sizing: border-box;
  width: 100%;
  align-self: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.content-container {
  flex: 1;
  overflow-y: auto;
}