md-toolbar {
    background: #722f37;
    color: white;
    height: 10%;
}

a[md-button] {
    background: #DECB90;
    color: #722f37;
}

.content-container {
    overflow: scroll;
    height: 80%;
}
