md-toolbar {
    background: #722f37;
    color: white;
}

a[md-button] {
    background: #DECB90;
    color: #722f37;
}

.content-container {
    overflow-y: auto;
    height: calc(100% - 128px);
    width: 100%;
}

md-toolbar.footer p {
    font-size: 12pt;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#left-spacer {
    display: block;
    width: 56px; /* width of fab button */
}

md-toolbar.header p {
    font-size: 10pt;
}
