<md-card>
    <md-card-title>{{wine.variety}} : {{wine.name}}</md-card-title>
    <md-card-content>{{wine.description}}</md-card-content>
    <md-checkbox [(ngModel)]="wine.red" name="red" [disabled]=true>Red?</md-checkbox>
    <md-checkbox [(ngModel)]="wine.available" name="available" [disabled]=true>Available?</md-checkbox>

    <md-card-content>
        <button md-raised-button color="warn" (click)="onEditWine()">Edit</button>
        <button md-raised-button color="warn" (click)="delete.emit(wine.id)">Delete</button>
    </md-card-content>
</md-card>
