<mat-card>
    <mat-card-title>{{wine.name}}</mat-card-title>
    <mat-card-content>{{wine.description}}</mat-card-content>
    <mat-checkbox [(ngModel)]="wine.red" name="red" [disabled]=true>Red?</mat-checkbox>
    <mat-checkbox [(ngModel)]="wine.available" name="available" [disabled]=true>Available?</mat-checkbox>

    <mat-card-content>
        <button mat-raised-button color="warn" (click)="onEditWine()">Edit</button>
        <button mat-raised-button color="warn" (click)="delete.emit(wine.id)">Delete</button>
    </mat-card-content>
</mat-card>
